

<div class="loopToDo">
    <div class="custom" onclick="modifyToDo(this)"></div>
    <input type="checkbox" class="checkbox" value="false" onclick="toDoClick(this)" data-id="{{id}}">
    <label for="toDo" id="phrase">{{message}}</label>
    
</div>
